.h1_registro{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.registro{
    display: block;
    align-items: center;
    height: 20rem;
    margin-top: 40px;

    form{
        .botones{
            display: flex;
            justify-content: space-around;

            .boton{
                background-color:rgb(0, 89, 255);
                text-decoration: none;
                border: 1px solid transparent;
                border-radius: 10px;
                padding: 10px;
                color: white;
                display: inline;
                width: 100px;
            }
        }
    }
}