/* Main Index */

.main_index{
    nav{
        .plataformasCuatro{
            border: 1px solid yellow;
            margin: 50px 15px 25px 15px;
            font-size: 38px;
            padding: 20px;
        }
    }

    h2{
        font-size: 35px;
        margin-bottom: 10px;
    }

    article{
        .juego{
            border: 5px double white;
            border-radius: 30px;
        }
            
        .sipnosis{
            font-size: 28px;
            display: flex;
            align-items: center;
            margin: 20px;
            text-align:justify;
        }
    }
}

/* Main Carrito */

.main_carrito{
    margin-bottom: 100px;

    .main_texto{
        p{
            font-size: 30px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
    .main_imagen{
        width: auto;
        height: 28rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 500px;
            height: 350px;
        }
    }
    .main_boton{
        text-align: center;
        
        .boton{
            background-color:rgb(0, 89, 255);
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 10px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}