// Respoonsive Título 2 - Index

@media (min-width: 320px){
    h2{
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px){
    h2{
        font-size: 35px;
        margin-left: 40px;
        margin-bottom: 10px;
        text-align: left;
    }
}

// Responsive Imágenes y Sipnosis - Index

@media(min-width: 320px){
    .juego{
        width: 1200px;
        margin: 30px 0px 0px 0px;
        border: 5px double white;
        border-radius: 30px;
    }
    
    .forspoken{
        display: flex;
        flex-direction: column-reverse;
        
        .sipnosis{
            margin: 20px 0px;
            padding: 0px 50px 0px 10px;
        }
    }
}

@media(min-width: 720px){
    .juego{
        margin: 20px 0px;
        border: 5px double white;
        border-radius: 30px;
    }
}

@media(min-width: 960px){
    .juego{
        border: 5px double white;
        border-radius: 30px;
    }
}

@media(min-width: 1200px){
    .juego{
        width: 600px;
        margin: 30px;
        border: 5px double white;
        border-radius: 30px;
    }
    
    .forspoken{
        display: flex;
        flex-direction:row;
        
        .sipnosis{
            font-size: 28px;
            display: flex;
            align-items: center;
            margin: 20px;
            text-align:justify;
        }
    }
}

// Responsive Registro - Regístrate

@media (min-width: 320px){
    .h1_registro{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 9rem;
    }
}

@media(min-width: 960px){
    .h1_registro{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 16rem;
    }
}

@media (min-width: 1200px){
    .h1_registro{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 15rem;
    }
}


// Responsive Footer

@media(min-width: 320px){
    footer{
        background-color:rgb(124, 0, 0);
        height: 50rem;
        padding: 20px;
        margin-bottom: 50px;
    }
}

@media(min-width: 540px){
    footer{
        background-color:rgb(124, 0, 0);
        height: 43rem;
    }
}

@media(min-width: 720px){
    footer{
        background-color:rgb(124, 0, 0);
        height: 28rem;
    }
}

@media(min-width: 960px){
    footer{
        background-color:rgb(124, 0, 0);
        height: 25rem;
    }
}
@media(min-width: 1200px){
    footer{
        background-color:rgb(124, 0, 0);
        padding: 20px;
        margin: 50px 0px 50px 0px;
        height: 300px;
    }
}
